<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
    <script src="/js/laydate/laydate.js"></script>
    <script src="/js/bootstrap-switch.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-switch.css"/>
    <link href="/css/common.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <style>
        .top-bar {
            width: 100%;
            height: 15%;
            position: relative;
            left: 0;
            top: 0;
            text-align: center;
            margin-top: 15px;
            font-family: "微软雅黑";
        }
        .top-bar .title {
            font-family: "微软雅黑";
            font-size: 2.5rem;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            margin: auto;
            text-align: center;
        }
        .date-wrapper {
            margin-left: 2.5rem;
        }
        .date-wrapper span {
            font-size: 1.5rem;
            font-family: "微软雅黑";
        }
        .date-wrapper input {
            border: 1px solid #dcdcdc;
            border-radius: 5px;
            height: 35px;
            width: 30%;
        }
        .table {
            font-size: 1.5rem;
            width: 90%;
            position: relative;
            left: 0;
            right: 0;
            margin: auto;
        }
        .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
            width: 50%;
        }
        .table-bordered>tbody>tr>td {
            text-align: center;
            vertical-align: middle;
        }

    </style>
</head>
<body class="bg-grey">

<div class="top-bar">
    <img src="/images/logo.png" style="width: 15%;">
    <label style="font-size: 2.5rem;">设备控制系统</label>
</div>
<div class="date-wrapper">

    <span>查询名称：</span>
    <select class="selectpicker" data-live-search="true" style="width: 50%;">
        <option>手动控制</option>
        <option>自动控制</option>
        <option>决策控制</option>
    </select>
    <br>
    <br>
    <span>启动时间：</span>
    <input type="text" id="date" placeholder="yyyy-MM-dd">
    <input type="text" id="date" placeholder="HH:mm:ss">
    <br>
    <br>

    <span>关闭时间：</span>
    <input type="text" id="realTime" placeholder="yyyy-MM-dd">
    <input type="text" id="date" placeholder="HH:mm:ss">
    <br>
    <br>
    <button class="btn btn-primary">确定</button>

    <br>
    <br>
</div>

<table class="table table-striped table-bordered">
    <tbody>
    <tr>
        <td style="width:30%;"><img src="/images/irrigation.png"></td>
        <td>灌溉系统</td>
        <td>
            <div class="switch" id="mySwitch">
                <input type="checkbox" checked data-on-text="YES" data-off-text="NO"/>
            </div>
        </td>
    </tr>
    <tr>
        <td style="width:30%;"><img src="/images/fan.png"></td>
        <td>风机设备</td>
        <td>
            <div class="switch" id="mySwitch">
                <input type="checkbox" checked data-on-text="YES" data-off-text="NO"/>
            </div>
        </td>
    </tr>
    <tr>
        <td style="width:30%;"><img src="/images/rollerShutters.png"></td>
        <td>卷帘设备</td>
        <td>
            <div class="switch" id="mySwitch">
                <input type="checkbox" checked data-on-text="YES" data-off-text="NO"/>
            </div>
        </td>
    </tr>
    <tr>
        <td style="width:30%;"><img src="/images/seedLamp.png"></td>
        <td>育苗灯</td>
        <td>
            <div class="switch" id="mySwitch">
                <input type="checkbox" checked data-on-text="YES" data-off-text="NO"/>
            </div>
        </td>
    </tr>
    <tr>
        <td style="width:30%;"><img src="/images/shadeNet.png"></td>
        <td>遮阳网</td>
        <td>
            <div class="switch" id="mySwitch">
                <input type="checkbox" checked data-on-text="YES" data-off-text="NO"/>
            </div>
        </td>
    </tr>
    </tbody>
</table>


<script src='./js/echarts.min.js'></script>
<script>
    $(function () {
        $(function(){
            $('#mySwitch input').bootstrapSwitch();
        })
    })


</script>
</body>
</html>